<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
<header id="header">
    <div class="container flex">
        <a href="" class="logo">
            <img th:src="@{/images/logo.png}" alt="">
        </a>
        <ul class="menu flex">
            <li><a th:href="@{/}">펫시터 둘러보기</a></li>
            <li><a th:href="@{/}">반려동물 등록</a></li>
            <li><a th:href="@{/board/list}">문의하기</a></li>
        </ul>
        <a th:if="${session.userDto == null}" th:href="@{/login}" class="login font18 btn">Login</a>
        <a th:if="${session.userDto != null}" th:href="@{/logout}" class="login font18 btn">logout</a>
    </div>
</header>

<div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
<section class="section register">
    <div class="container">
        <div class="tit">문의하기</div>
        <div class="cont_box font18">
                <form action="/board" method="post" enctype="multipart/form-data">
                <div class="box text-left">
                    <label for="userName" class="font28">작성자</label>
                    <input type="text" name="userName" id="userName">
                </div>
                <div class="box text-left">
                    <label for="title" class="font28">제목</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="box text-left">
                    <label for="contents" class="font28">내용</label>
                    <input type="text" name="contents" id="contents">
                </div>
                <input type="submit" class="font18 btn mt-20" value="등록">
                <a th:href="@{/board/list}" class="font18 btn mt-20">취소</a>
            </form>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="txt font18">
        © Pet Sitter. All Rights Reserved
    </div>
</footer>
</body>
</html>