<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}"
>
    <th:block layout:fragment="content">
        <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
        <section class="section register">
        <div class="container">
            <div class="tit">login</div>
            <div class="cont_box font18">
                <div class="brBox">
                    <form action="/loginProc" method="post">
                        <div class="box">
                            <input type="text" placeholder="아이디를 입력하세요" name="email">
                        </div>
                        <div class="box">
                            <input type="text" placeholder="비밀번호를 입력하세요" name="pw">
                        </div>
                        <input type="submit" class="font18 btn mt-30" value="로그인">
                    </form>

                    <div class="mt-50">
                        <a th:href="@{/register}" class="font28">Sign Up</a>
                        <p clas="font-18 grfont">회원이 아니신가요?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </th:block>
</html>