<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}"
>
<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">
            <div class="tit">Sign Up</div>
            <div class="cont_box font18">
                <form action="/register" method="post">
                    <div class="box text-left">
                        <label class="font28" for="userid">E-mail</label><br>
                        <input type="text" id="userid" placeholder="email을 입력하세요" name="email" required> 

                        <input type="button" onclick="run()" value="아이디 중복확인" class="font18 btn mt-10"><br>
                        <div id="resultTxt">here..!</div> <br>
                    </div>
                    
                    <div class="box text-left">
                        <label class="font28" for="pw">Password</label><br>
                        <input type="password" placeholder="비밀번호를 입력하세요" id="pw" name="pw" required>
                    </div>
                    <div class="box text-left">
                        <label class="font28" for="userName">userName</label><br>
                        <input type="text" id="userName" placeholder="이름을 입력하세요" name="userName"> 
                    </div>
                    <div class="box text-left">
                        <label class="font28" for="phoneNumber">phoneNumber</label><br>
                        <input type="text" placeholder="핸드폰 번호를 입력하세요" id="phoneNumber" name="phoneNumber"> 
                    </div>
                    <div class="box text-left">
                        <label class="font28" for="address">Address</label><br>
                        <input type="text" placeholder="주소를 입력하세요" id="address" name="address"> 
                    </div>
                    
                    <input type="submit" class="font18 btn mt-20" value="회원가입">
                </form>
            </div>
        </div>
    </section>

    <script>
    const frm = document.querySelector("form");
    const idtxt = document.querySelector("#userid");
    function run(){
        if(idtxt.value != ''){
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                document.getElementById("resultTxt").innerHTML = this.responseText; //응답 문자열 -  msg 내용 뿌려줌
            }
            //로드 되면서 서버랑 통신을 하고 응답받은 문자열을 받아옴
            xhttp.open("GET", "/idcheck?email=" + idtxt.value, true); //서버의 자원 주소 /idcheck
            // 통신을 설정하고 있음 / 서버의 주소, 방식
            xhttp.send();
            // 보내기
        }else{
            alert("아이디를 입력해주세요!")
        }
        console.log("idchek 종료...")
    }
</script>
    </th:block>
</html>