<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>

<form action="/register" method="post">
    <input type="text" placeholder="email을 입력하세요" name="email">
    <input type="password" placeholder="비밀번호를 입력하세요" name="pw">
    <input type="text" placeholder="이름을 입력하세요" name="userName">
    <input type="text" placeholder="핸드폰 번호를 입력하세요" name="phoneNumber">
    <input type="text" placeholder="주소를 입력하세요" name="address">

    <input type="submit" value="회원가입">
</form>

</body>
</html>