<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}"
>
<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">  
            <div class="brBox">
                <p class="font28 mt-20 txt"><span th:text="${session.userDto.userName}"></span>님 환영합니다!</p>
                <a th:href="@{/home}" class="login font18 btn mt-20">메인으로</a>
            </div>

        </div>
    </section>
</th:block>>
</html>